.cabecalho{
    --background: rgb(64,192,203);
    // --background: linear-gradient(90deg, rgba(64,192,203,1) 0%, rgba(249,242,231,1) 50%, rgba(174,226,57,1) 100%);
}

.titulo{
    --color: white;    
}

ion-searchbar{
    --background: rgb(99, 93, 93);
    margin-top: 25px;
    margin-left: 5px;
}

ion-radio{
    margin-top: 35px;
    padding: 5px;
    margin-left: 5px;
}

.consultar{
    margin-left: 30px;
    --background: #40c0cb;
}

#cargo{
    color: #3880FF;
}

#nome{
    color: #7c7c7c;
}

#cidade{
    color: #5260FF; 
}

#telefone{
    color: #FFC409;
}

.margin{
    margin-top: 30px;
}

.dados{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}

.dados h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    // text-transform: uppercase;
    color: #40c0cb;
    // font-weight: bolder;
}

.adicionar{
    --background: #60c547;
    margin-left: 380px;
}

.ok{
    --background: #8fbe00;
    margin-right: 10px;

}

.remover{
    --background: #EB445A;
}


.modal{
    --background: rgb(174,226,57);
    --background: linear-gradient(90deg, rgba(174,226,57,1) 0%, rgba(249,242,231,1) 50%, rgba(64,192,203,1) 100%);
    margin: 0;
}

.cadastro{
    text-align: left;
    color: black;
}

.formulario{
    margin-left: 100px;
    margin-right: 100px;
}

.label{
   margin-bottom: 5px;
}

.sair{
    --background: none;
    margin-right: 10px;
}


.salvar{
    --background: #60c547;
    margin-top: 30px;
    height: 5vh;
    width: 10vw;
    text-transform: capitalize;
}