<ion-header [translucent]="true">
  <ion-toolbar  class="cabecalho">
    <ion-title  class="titulo">
      Funcionários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #form_pesquisar = 'ngForm' (ngSubmit)="pesquisar(form_pesquisar.value)">
    <ion-row>
      <ion-col size="6">
        <ion-searchbar search-icon="search-circle" show-clear-button="focus" value="Show on Focus" ngModel name="search" placeholder="Informe sua busca"></ion-searchbar>
      </ion-col>
      <ion-col size="6">
        <ion-radio-group name="filtro" ngModel>
          <ion-radio color="primary" id="cargo"  value="cargo" name="opcao">Cargo</ion-radio> 
          <ion-radio color="medium" id="nome"  value="nome" name="opcao">Nome</ion-radio> 
          <ion-radio color="tertiary" id="cidade" value="cidade"  name="opcao">Cidade</ion-radio> 
          <ion-radio color="warning" id="telefone" value="telefone" name="opcao">Telefone</ion-radio>
        </ion-radio-group>
        <ion-button type="submit" class="consultar"><ion-icon class="lupa" name="search"></ion-icon></ion-button>
        <ion-button id="open-modal" class="adicionar"><ion-icon name="add" ></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </form>
    
  <ion-row>
    <ion-col size="12" class="margin"> 
      <ion-list>
        <ng-container *ngFor="let funcionario of this.funcionarios">
          <form #form='ngForm' (ngSubmit)="atualizar(funcionario.CodFun, form.value)">
          <ion-item>
            <!-- <ion-label>{{ funcionario.CodFun }}</ion-label> -->
            <ion-input [(ngModel)]="funcionario.Nome" name="nome" class="dados"><h1>Nome:</h1></ion-input>
            <ion-input [(ngModel)]="funcionario.Sobrenome" name="sobrenome" class="dados"><h1>Sobrenome:</h1></ion-input>
            <ion-input [(ngModel)]="funcionario.Cargo" name="cargo" class="dados"><h1>Cargo:</h1></ion-input>
            <ion-input [(ngModel)]="funcionario.Salario" name="salario" class="dados"><h1>Salário:</h1></ion-input>
            <ion-input [(ngModel)]="funcionario.DataNasc" name="dataNasc" class="dados"><h1>Data de Nascimento:</h1></ion-input>
            <ion-input [(ngModel)]="funcionario.Endereco" name="endereco" class="dados"><h1>Endereço:</h1></ion-input>
            <ion-input [(ngModel)]="funcionario.Cidade" name="cidade" class="dados"><h1>Cidade:</h1></ion-input>
            <ion-input [(ngModel)]="funcionario.CEP" name="cep" class="dados"><h1>CEP:</h1></ion-input>
            <ion-input [(ngModel)]="funcionario.Pais" name="pais" class="dados"><h1>País:</h1></ion-input>
            <ion-input [(ngModel)]="funcionario.Fone" name="fone" class="dados"><h1>Telefone:</h1></ion-input>
              
            <ion-button type="submit" class="ok"><ion-icon name="checkmark"></ion-icon></ion-button> 
            <ion-button (click)="remover(funcionario.CodFun)"  class="remover"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-item>
        </form>
      </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>

    <!-- ION MODAL  -->
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal">
          <ion-button (click)="fecharModal()" class="sair" slot="end"><ion-icon name="close" class="fechar"></ion-icon></ion-button>
          <ion-title class="cadastro">Cadastro de Funcionário</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form #form_inserir = 'ngForm' (ngSubmit)="inserirDados(form_inserir.value)"> 
          <ion-list class="formulario">
            <ion-item>
              <ion-label position="floating" class="label">Nome</ion-label>
              <ion-input ngModel name="nome"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label  position="floating" class="label">Sobrenome</ion-label>
              <ion-input ngModel name="sobrenome"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label  position="floating" class="label">Cargo</ion-label>
              <ion-input ngModel type="text" name="cargo"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating" class="label">Salário</ion-label>
              <ion-input ngModel type="number" name="salario"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="stacked" class="label">Data de Nascimento</ion-label>
              <ion-input ngModel type="date" name="dataNasc"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating" class="label">País</ion-label>
              <ion-input ngModel type="text" name="pais"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating" class="label">Cidade</ion-label>
              <ion-input ngModel type="text" name="cidade"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating" class="label">CEP</ion-label>
              <ion-input ngModel type="number" name="cep"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating" class="label">Endereço</ion-label>
              <ion-input ngModel name="endereco"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label  position="floating" class="label">Telefone</ion-label>
              <ion-input ngModel type="tel" name="fone"></ion-input>
            </ion-item>
          </ion-list>

          <ion-row class="ion-justify-content-center">
            <ion-col size="5">
              <ion-button type="submit" class="salvar">Salvar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- FIM ION MODAL-->

</ion-content>