.cabecalho{
    --background: rgb(102, 95, 95);
    // --background: linear-gradient(90deg, rgba(64,192,203,1) 0%, rgba(249,242,231,1) 50%, rgba(174,226,57,1) 100%);
    // --background: linear-gradient(90deg, rgba(64,192,203,1) 0%, rgba(249,242,231,1) 50%, rgb(64,192,203) 100%);
    --background: linear-gradient(90deg,  rgb(102, 95, 95) 0%, rgba(249,242,231,1) 50%,  rgb(102, 95, 95) 100%);


}

.titulo{
    --color: white;    
}

ion-searchbar{
    // --background: rgb(0, 0, 0);
    margin-top: 25px;
    margin-left: 5px;
}

ion-radio{
    margin-top: 35px;
    padding: 5px;
    margin-left: 5px;
}

.consultar{
    margin-left: 30px;
    --background: rgb(136, 130, 130);
}

#cargo{
    color: #3880FF;
}

#nome{
    color: #7c7c7c;
}

#cidade{
    color: #5260FF; 
}

#telefone{
    color: #FFC409;
}

.margin{
    margin-top: 30px;
}

.dados{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}

.dados h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    // text-transform: uppercase;
    // color: #40c0cb;
    color: rgb(136, 130, 130);
    // font-weight: bolder;
}

.adicionar{
    --background: #60c547;
    margin-left: 380px;
}

.ok{
    --background: #8fbe00;
    margin-right: 10px;

}

.remover{
    --background: #EB445A;
}


.modal{
    --background: rgb(139, 128, 128);
    // --background: linear-gradient(90deg,  rgb(102, 95, 95) 0%, rgba(249,242,231,1) 50%,  rgb(102, 95, 95) 100%);
    margin: 0;
}

.cadastro{
    text-align: left;
    // color: rgb(71, 71, 71);
    color: white;
}

.formulario{
    margin-left: 100px;
    margin-right: 100px;
}

.label{
   margin-bottom: 5px;
}

.sair{
    --background: none;
    margin-right: 10px;
}

.fechar{
    color: white;
}


.salvar{
    --background: #60c547;
    margin-top: 30px;
    height: 5vh;
    width: 10vw;
    text-transform: capitalize;
}