<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Funcionários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #form_pesquisar = 'ngForm' (onSubmit)="pesquisar(form_pesquisar.value)">
    <ion-row>
      <ion-col size="6">
        <ion-searchbar ngModel name="search" placeholder="Custom Placeholder"></ion-searchbar>
      </ion-col>
      <ion-col size="6">
        <ion-button type="submit">Consultar</ion-button>
        <!-- <ion-radio-group value="filtros">
          <ion-radio ngModel value="cargo" name="cargo">Cargo</ion-radio>
          <ion-radio ngModel value="nome" name="nome">Nome</ion-radio>
          <ion-radio ngModel value="cidade" name="cidade">Cidade</ion-radio>
          <ion-radio ngModel value="fone" name="fone">Telefone</ion-radio>
        </ion-radio-group> -->
        
        <ion-radio-group value="filtros">
          <ion-radio name="cargo">Cargo</ion-radio>
          <ion-radio name="nome">Nome</ion-radio>
          <ion-radio name="cidade">Cidade</ion-radio>
          <ion-radio name="telefone">Fone</ion-radio>
        </ion-radio-group>


        <ion-button id="open-modal">Inserir</ion-button>
      </ion-col>
    </ion-row>
  </form>
    
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ng-container *ngFor="let funcionario of this.funcionarios">
            <ion-item>
              <!-- <ion-label>{{ funcionario.CodFun }}</ion-label>
              <ion-label>{{ funcionario.Sobrenome }}</ion-label> -->
              <ion-label>{{ funcionario.Nome }}</ion-label>
              <ion-label>{{ funcionario.Cargo }}</ion-label>
              <!-- <ion-label>{{ funcionario.DataNasc }}</ion-label>
              <ion-label>{{ funcionario.Endereco }}</ion-label> -->
              <ion-label>{{ funcionario.Cidade }}</ion-label>
              <!-- <ion-label>{{ funcionario.CEP }}</ion-label> -->
              <!-- <ion-label>{{ funcionario.Pais }}</ion-label> -->
              <ion-label>{{ funcionario.Fone }}</ion-label>
              <ion-label>{{ funcionario.Cidade }}</ion-label>
              <ion-button (click)="remover(funcionario.CodFun)">Remover</ion-button>
              <ion-button (click)="atualizar(funcionario.CodFun)">Atualizar</ion-button>
            </ion-item>
        </ng-container>
        </ion-list>
        
        <ion-modal trigger="open-modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button >Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                  <ion-button [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>
                <ion-label position="stacked">Enter your name</ion-label>

                <form #form_inserir = 'ngForm' (onSubmit)="inserirDados(form_inserir.value)">
                  <ion-item>
                    <ion-input ngModel name="nome"></ion-input>
                  </ion-item>
                  <ion-button type="submit">Salvar</ion-button>
                  
                </form>
                
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-col>
    </ion-row>



  

</ion-content>